body{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
}
button{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 24px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;  
}
/* header tag styles */
header{
    background-color:rgba(255, 144, 14, 0.10);    
}
.header-title{
    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.nav-bar{
    padding: 50px 240px 116px 128px;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
.header-ul li{
    list-style: none;
    margin-right:30px ;
    color:  #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
.header-conteant{
    padding: 0 529px;
    align-items: center;
}
.header-conteant > h3{
    width: 862px;
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
}
.header-conteant >p{
    width: 868px;
    color: #727272;
    text-align: center;
    line-height: 26px;
}
.header-btn{
    margin:0 0 50px 870px ;
}
.footer-image{
    padding-left:240px;
    padding-bottom: 50px;
}
/* main tag styles */
/* main fast section styles */
.fast-section{
    display: flex;
    justify-content: space-between;
}
.fast-section-image{
    margin: 85px;
    display: flex;
    justify-content: space-between;
    margin-left: 301px;
}
.fasst-section-content{
    margin: 287px 0 0 0;
    width: 1920px;
    height: 4760px;
}
.fasst-section-content >h3{
    width: 468px;
    color: #727272;
    font-size: 45px; 
    font-weight: 500;
    text-align: left;
}
.fasst-section-content >p{
    width: 537px; 
    color:#727272;
    font-size: 16px;
    line-height: 26px;
    text-align: ; 
}